<div class="jumbotron mt-4">
    <h1 class="display-4">
        Notes App Nodejs and Mongodb
    </h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt ipsa, magni molestias officiis quae reprehenderit.
    </p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores assumenda excepturi laborum numquam quam quasi quis! Alias, ea ullam.
    </p>
    <a href="#" class="btn btn-primary" onclick="return false">No go</a>
</div>
